{#- author template for eICR/RR documents -#}
{%- from "components/macros.xml.j2" import format_address, format_telecom, format_name -%}
  <author>
    {% if author.time %}<time value="{{ author.time }}" />{% endif %}
    <assignedAuthor>
      <id extension="1234567890" root="2.16.840.1.113883.4.6" />
      {{- format_address(addresses.person) | indent(6, True) -}}
      {{- format_telecom(telecom) | indent(6, True) }}
      <assignedAuthoringDevice>
        {% if author.manufacturerModelName %}<manufacturerModelName>{{ author.manufacturerModelName }}</manufacturerModelName>{% endif %}
        {% if author.softwareName %}<softwareName>{{ author.softwareName }}</softwareName>{% endif %}
      </assignedAuthoringDevice>
      {% if author.assignedPerson %}
      <assignedPerson>
        {{- format_name(author.assignedPerson) | indent(12, True) }}
      </assignedPerson>
      {% endif -%}
      <representedOrganization>
        <!-- NPI -->
        <id extension="1234567893" root="2.16.840.1.113883.4.6" />
        <name>{{ author.organization.name }}</name>
        {{- format_address(addresses.organization) | indent(8, True) -}}
        {{- format_telecom(telecom) | indent(8, True) }}
      </representedOrganization>
    </assignedAuthor>
  </author>