{# TODO - THIS! #}
<componentOf>
    <encompassingEncounter>
      <!-- encounter ID-->
      <id extension="9937015" root="2.16.840.1.113883.19" />
      <code code="AMB" codeSystem="2.16.840.1.113883.5.4"
        codeSystemName="HL7 ActEncounterCode"
        displayName="Ambulatory" />
      <effectiveTime>
        <low value="20200513" />
        <high value="20200513" />
      </effectiveTime>
      <responsibleParty>
        <assignedEntity>
          <!-- Provider ID (NPI) -->
          <id extension="1234567890" root="2.16.840.1.113883.4.6" />
          <addr use="H">
            <streetAddressLine>200 Corusca Street</streetAddressLine>
            <city>Senate District</city>
            <state>Galactic City</state>
            <postalCode>GC-500</postalCode>
            <county>Administrative Core</county>
            <country>Coruscant</country>
          </addr>
          <telecom use="WP" value="tel:+1-555-777-0123" />
          <telecom use="WP" value="fax:+1-555-777-0987" />
          <telecom use="WP" value="mailto:dr.hemlock@grmfc.gc.example.com" />
          <assignedPerson>
            <name>
              <prefix>Dr</prefix>
              <given>Royce</given>
              <family>Hemlock</family>
              <suffix>MD</suffix>
            </name>
          </assignedPerson>
          <representedOrganization>
            <!-- Represented Organization-->
            <id extension="1234567893" root="2.16.840.1.113883.4.6" />
            <!-- Provider Facility/Office Name-->
            <name>Grand Republic Medical Facility Clinic</name>
            <addr use="WP">
              <streetAddressLine>500 Republica Medical Plaza, Suite 1000</streetAddressLine>
              <city>Senate District</city>
              <state>Galactic City</state>
              <postalCode>GC-500</postalCode>
              <county>Administrative Core</county>
              <country>Coruscant</country>
            </addr>
          </representedOrganization>
        </assignedEntity>
      </responsibleParty>
      <location>
        <healthCareFacility>
          <!-- Facility ID (NPI) -->
          <id extension="1234567890" root="2.16.840.1.113883.4.6" />
          <!-- Facility location within larger healthcare organization e.g Kaiser Vacaville within
          Kaiser North-->
          <code code="OF" codeSystem="2.16.840.1.113883.5.111"
            codeSystemName="HL7RoleCode" displayName="Outpatient Facility" />
          <location>
            <addr use="WP">
              <streetAddressLine>500 Republica Medical Plaza, Suite 1000</streetAddressLine>
              <city>Senate District</city>
              <state>Galactic City</state>
              <postalCode>GC-500</postalCode>
              <county>Administrative Core</county>
              <country>Coruscant</country>
            </addr>
          </location>
          <serviceProviderOrganization>
            <!-- Provider Facility/Office Name-->
            <name>Grand Republic Medical Facility Clinic</name>
            <telecom use="WP" value="tel:+1-888-000-9999" />
            <telecom use="WP" value="fax:+1-888-000-1111" />
            <addr use="WP">
              <streetAddressLine>500 Republica Medical Plaza, Suite 1000</streetAddressLine>
              <city>Senate District</city>
              <state>Galactic City</state>
              <postalCode>GC-500</postalCode>
              <county>Administrative Core</county>
              <country>Coruscant</country>
            </addr>
          </serviceProviderOrganization>
        </healthCareFacility>
      </location>
    </encompassingEncounter>
  </componentOf>