{#- patient template for eICR/RR documents -#}
{% from "components/macros.xml.j2" import format_address, format_telecom, format_name %}
  <recordTarget xmlns="{{ nsmap[None] }}" xmlns:sdtc="{{ nsmap['sdtc'] }}" xmlns:xsi="{{ nsmap['xsi'] }}" xmlns:voc="{{ nsmap['voc'] }}">
    <patientRole>
      {#- patient identifiers #}
      {% if patient.id.mrn %}<id root="2.16.840.1.113883.19.5" extension="{{ patient.id.mrn }}" />{% endif %}
      {% if patient.id.ssn %}<id root="2.16.840.1.113883.4.1" extension="{{ patient.id.ssn }}" />{% endif %}
      {#- patient address -#}
      {{ format_address(addresses.person) | indent(6, True) }}
      {#- patient contact information -#}
      {{ format_telecom(telecom) | indent(6, True) }}
      <patient>
        {#- patient name -#}
        {%- if patient.name %}
        {{- format_name(patient.name) | indent(8, True) }}
        {% endif %}
        {#- demographics -#}
        <administrativeGenderCode code="{{ patient.demographics.gender.code }}" codeSystem="2.16.840.1.113883.5.1" displayName="{{ patient.demographics.gender.displayName }}" />
        <birthTime value="{{ patient.demographics.birthDate }}" />
        {% if patient.demographics.deceased is defined -%}
        <sdtc:deceasedInd value="{{ patient.demographics.deceased|lower }}" />
        {%- endif %}
        <raceCode code="{{ patient.demographics.race.code }}" codeSystem="2.16.840.1.113883.6.238" codeSystemName="Race &amp; Ethnicity - CDC" displayName="{{ patient.demographics.race.displayName }}" />
        <ethnicGroupCode code="{{ patient.demographics.ethnicity.code }}" codeSystem="2.16.840.1.113883.6.238" codeSystemName="Race &amp; Ethnicity - CDC" displayName="{{ patient.demographics.ethnicity.displayName }}" />
        {#- language -#}
        {% if patient.demographics.preferredLanguage %}
        <languageCommunication>
            <languageCode code="{{ patient.demographics.preferredLanguage.code }}" />
            <preferenceInd value="true" />
        </languageCommunication>
        {%- endif %}
      </patient>
      {#- guardian information (if exists and not null) - TODO: test this section #}
      {%- if patient.guardian and patient.guardian.name.given %}
      <guardian>
        <guardianPerson>
          {{ format_name(patient.guardian.name) | indent(12, True) }}
        </guardianPerson>
          {{ format_address(addresses.person) }}
          {{ format_telecom(telecom) }}
          {%- if patient.guardian.relationship %}
          <guardianRole>
          <code code="{{ patient.guardian.relationship.code }}" displayName="{{ patient.guardian.relationship.displayName }}" />
        </guardianRole>
        {%- endif %}
      </guardian>
      {%- endif %}
    </patientRole>
  </recordTarget>
