{% macro render_therapeutic_response_obs(observation) %}
<observation classCode="OBS" moodCode="EVN">
  <!-- [eICR R2] Therapeutic Medication Response Observation -->
  <templateId root="2.16.840.1.113883.10.20.15.2.3.37"
    extension="2019-04-01" />
  <id root="{{ uuid() }}" />
  <code code="67540-5" codeSystem="2.16.840.1.113883.6.1"
    codeSystemName="LOINC" displayName="Response to medication" />
  <statusCode code="completed" />
  <effectiveTime>
    <low value="20201101" />
  </effectiveTime>
  <value code="{{ observation.value.code }}" codeSystem="{{ codeSystems[observation.value.codeSystemName|trim] }}"
    codeSystemName="{{ observation.value.codeSystemName }}" displayName="{{ observation.value.displayName }}"
    xsi:type="CD" />
</observation>
{%- endmacro %}