{#- TODO: This need to be templated when needed -#}
{% macro render_specimen_collection_proc() %}
<procedure classCode="PROC" moodCode="EVN">
  <!-- [C-CDA] Specimen Collection Procedure (ID) -->
  <templateId root="2.16.840.1.113883.10.20.22.4.415"
    extension="2018-09-01" />
  <code code="17636008"
    displayName="Specimen collection (procedure)"
    codeSystem="2.16.840.1.113883.6.96"
    codeSystemName="SNOMED CT" />
  <!-- Specimen collection date/time -->
  <effectiveTime>
    <low value="20200309" />
  </effectiveTime>
  <!-- Specimen source -->
  <targetSiteCode code="368208006"
    displayName="Left upper arm structure (body structure)"
    codeSystem="2.16.840.1.113883.6.96"
    codeSystemName="SNOMED CT" />
  <!-- [C-CDA ID]  Specimen Participant (ID) -->
  <participant typeCode="PRD">
    <!-- [C-CDA ID] Specimen Participant (ID) -->
    <templateId root="2.16.840.1.113883.10.20.22.4.310"
      extension="2020-09-01" />
    <participantRole classCode="SPEC">
      <!-- Specimen id -->
      <id root="44fd0410-6115-4b8e-8ee9-a51b3817df66" />
      <playingEntity>
        <!-- Specimen type -->
        <code code="119297000"
          displayName="Blood specimen (specimen)"
          codeSystem="2.16.840.1.113883.6.96"
          codeSystemName="SNOMED CT" />
      </playingEntity>
    </participantRole>
  </participant>
</procedure>
{%- endmacro %}