
        <section>
          <templateId root="1.3.6.1.4.1.19376.1.5.3.1.1.13.2.1" />
          <code code="10154-3" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC"
              displayName="Chief complaint Narrative - Reported" />
          <title>Chief Complaint</title>
          <text>
            <paragraph>{{ sections.chief_complaint.text }}</paragraph>
          </text>
        </section>