
        <section>
          <templateId root="2.16.840.1.113883.10.20.22.2.12" />
          <code code="29299-5" codeSystem="2.16.840.1.113883.6.1"
            codeSystemName="LOINC" displayName="Reason for visit" />
          <title>Reason for visit</title>
          <text>
            <paragraph>{{ sections.reason_for_visit.text }}</paragraph>
          </text>
        </section>