{#- TODO: This section needs to be templated #}
        <section>
          <!-- [eICR R2 STU3] Reportability Response Information Section -->
          <templateId root="2.16.840.1.113883.10.20.15.2.2.5" extension="2021-01-01" />
          <code code="88085-6" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC"
            displayName="Reportability response report Document Public health" />
          <title>Reportability Response Information Section</title>
          <text>
            <table>
              <thead>
                <tr>
                  <th>TODO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>TODO</td>
                </tr>
              </tbody>
            </table>
          </text>
          <!-- Reportability Response Coded Information Organizer -->
          <entry typeCode="DRIV">
            <organizer classCode="CLUSTER" moodCode="EVN">
              <!-- [RR R1S1] Reportability Response Coded Information Organizer -->
              <templateId root="2.16.840.1.113883.10.20.15.2.3.34"
                extension="2017-04-01" />
              <code code="RR11" displayName="Reportability Response Coded Information"
                codeSystem="2.16.840.1.114222.4.5.232"
                codeSystemName="PHIN Questions" />
              <statusCode code="completed" />
              <!-- Relevant Reportable Condition Observation: Zika -->
              <component>
                <observation classCode="OBS" moodCode="EVN">
                  <!-- [RR R1S1] Relevant Reportable Condition Observation -->
                  <templateId root="2.16.840.1.113883.10.20.15.2.3.12"
                    extension="2017-04-01" />
                  <id root="a054d401-7b23-4b15-bc28-c889c156ba6a" />
                  <code code="64572001" codeSystem="2.16.840.1.113883.6.96"
                    codeSystemName="SNOMED" displayName="Condition">
                    <translation code="75323-6"
                      codeSystem="2.16.840.1.113883.6.1"
                      codeSystemName="LOINC" displayName="Condition" />
                  </code>
                  <!-- Condition code (SNOMED CT) -->
                  <value xsi:type="CD" code="3928002"
                    codeSystem="2.16.840.1.113883.6.96"
                    codeSystemName="SNOMED CT"
                    displayName="Zika virus disease (disorder)" />
                  <!-- Reportability Information Organizer: Both Home and Provider -->
                  <entryRelationship typeCode="COMP">
                    <organizer classCode="CLUSTER" moodCode="EVN">
                      <!-- [RR R1S1] Reportability Information Organizer: Both
                      Home and Provider -->
                      <templateId root="2.16.840.1.113883.10.20.15.2.3.13"
                        extension="2017-04-01" />
                      <id root="fcf92143-4289-450e-9550-8d574facf626" />
                      <!-- Relevant location (home, provider, or both) -->
                      <code code="RRVS7"
                        codeSystem="2.16.840.1.114222.4.5.274"
                        codeSystemName="PHIN VS (CDC Local Coding System)"
                        displayName="Both patient home address and provider facility address"></code>
                      <statusCode code="completed" />
                      <!-- Responsible Agency: State Department of Health -->
                      <!-- In this case the responsible agency is the same as
                      the rules authoring agency -->
                      <participant typeCode="LOC">
                        <!-- [RR R1S1] Responsible Agency -->
                        <templateId root="2.16.840.1.113883.10.20.15.2.4.2"
                          extension="2017-04-01" />
                        <!-- If the responsible and authoring agencies are
                        the same 
               then they will have the same identifying and contact details -->
                        <participantRole>
                          <id extension="12341234"
                            root="2.16.840.1.113883.4.6" />
                          <code code="RR8"
                            displayName="Responsible Agency"
                            codeSystem="2.16.840.1.114222.4.5.232"
                            codeSystemName="PHIN Questions"></code>
                          <addr use="WP">
                            <streetAddressLine>7777 Health Authority
                              Drive</streetAddressLine>
                            <city />
                            <state>State</state>
                            <postalCode>99999</postalCode>
                          </addr>
                          <telecom use="WP" value="tel:+1-555-555-3555" />
                          <telecom use="WP" value="fax:+1-955-555-3555" />
                          <telecom use="WP"
                            value="mailto:mail@healthauthoritywest.gov" />
                          <telecom use="WP"
                            value="https://www.healthauthoritywest.gov" />
                          <playingEntity>
                            <name>State Department of Health</name>
                            <desc>Responsible Agency Description</desc>
                          </playingEntity>
                        </participantRole>
                      </participant>
                      <!-- Rules Authoring Agency: State Department of Health -->
                      <!-- In this case the rules authoring agency is the same
                      as the responsible agency -->
                      <participant typeCode="LOC">
                        <!-- [RR R1S1] Rules Authoring Agency -->
                        <templateId root="2.16.840.1.113883.10.20.15.2.4.3"
                          extension="2017-04-01" />
                        <!-- If the responsible and authoring agencies are
                        the same 
               then they will have the same identifying and contact details -->
                        <participantRole>
                          <id extension="12341234"
                            root="2.16.840.1.113883.4.6" />
                          <code code="RR12"
                            displayName="Rules Authoring Agency"
                            codeSystem="2.16.840.1.114222.4.5.232"
                            codeSystemName="PHIN Questions" />
                          <addr use="WP">
                            <streetAddressLine>7777 Health Authority
                              Drive</streetAddressLine>
                            <city>City</city>
                            <state>State</state>
                            <postalCode>99999</postalCode>
                          </addr>
                          <telecom use="WP" value="tel:+1-555-555-3555" />
                          <telecom use="WP" value="fax:+1-955-555-3555" />
                          <telecom use="WP"
                            value="mailto:mail@healthauthoritywest.gov" />
                          <telecom use="WP"
                            value="https://www.healthauthoritywest.gov" />
                          <playingEntity>
                            <name>State Department of Health</name>
                            <desc>Rules Authoring Agency Description</desc>
                          </playingEntity>
                        </participantRole>
                      </participant>
                      <!-- Routing Entity: State Department of Health -->
                      <!-- The routing entity is optional -->
                      <participant typeCode="LOC">
                        <!-- [RR R1S1] Routing Agency -->
                        <templateId root="2.16.840.1.113883.10.20.15.2.4.1"
                          extension="2017-04-01" />
                        <participantRole>
                          <id extension="43214321"
                            root="2.16.840.1.113883.4.6" />
                          <code code="RR7" displayName="Routing Entity"
                            codeSystem="2.16.840.1.114222.4.5.232"
                            codeSystemName="PHIN Questions" />
                          <addr use="WP">
                            <streetAddressLine>7777 Health Authority
                              Drive</streetAddressLine>
                            <city>City</city>
                            <state>State</state>
                            <postalCode>99999</postalCode>
                          </addr>
                          <telecom use="WP" value="tel:+1-555-555-3555" />
                          <telecom use="WP" value="fax:+1-955-555-3555" />
                          <telecom use="WP"
                            value="mailto:mail@healthauthoritywest.gov" />
                          <telecom use="WP"
                            value="https://www.healthauthoritywest.gov" />
                          <playingEntity>
                            <name>State Department of Health Routing
                              Agency</name>
                            <desc>Routing Agency Description</desc>
                          </playingEntity>
                        </participantRole>
                      </participant>
                      <!-- Determination of Reportability: Zika/State
                      Department of Health -->
                      <component typeCode="COMP">
                        <observation classCode="OBS" moodCode="EVN">
                          <!-- [RR R1S1] Determination of Reportability -->
                          <templateId
                            root="2.16.840.1.113883.10.20.15.2.3.19"
                            extension="2017-04-01" />
                          <id root="e39d6ae2-8c6e-4638-9b33-412996586f41" />
                          <code code="RR1"
                            codeSystem="2.16.840.1.114222.4.5.232"
                            codeSystemName="PHIN Questions"
                            displayName="Determination of reportability" />
                          <value xsi:type="CD" code="RRVS1"
                            displayName="Reportable"
                            codeSystem="2.16.840.1.114222.4.5.274"
                            codeSystemName="PHIN VS (CDC Local Coding System)" />
                          <!-- Determination of Reportability Reason -->
                          <entryRelationship typeCode="RSON">
                            <observation classCode="OBS" moodCode="EVN">
                              <!-- [RR R1S1] Determination of
                              Reportability Reason -->
                              <templateId
                                root="2.16.840.1.113883.10.20.15.2.3.26"
                                extension="2017-04-01" />
                              <id
                                root="8709a342-56ad-425a-b7b1-76a16c2dd2d5" />
                              <code code="RR2"
                                codeSystem="2.16.840.1.114222.4.5.232"
                                codeSystemName="PHIN Questions"
                                displayName="Determination of reportability reason" />
                              <value xsi:type="ST">Reason for
                                determination of reportability</value>
                            </observation>
                          </entryRelationship>
                          <!-- Determination of Reportability Rule -->
                          <entryRelationship typeCode="RSON">
                            <observation classCode="OBS" moodCode="EVN">
                              <!-- [RR R1S1] Determination of
                              Reportability Rule -->
                              <templateId
                                root="2.16.840.1.113883.10.20.15.2.3.27"
                                extension="2017-04-01" />
                              <id
                                root="f2dfdffb-bccb-4ee4-9b6c-0ae82b15ada6" />
                              <code code="RR3"
                                codeSystem="2.16.840.1.114222.4.5.232"
                                codeSystemName="PHIN Questions"
                                displayName="Determination of reportability rule" />
                              <value xsi:type="ST">Rule used in
                                reportability determination</value>
                            </observation>
                          </entryRelationship>
                        </observation>
                      </component>
                    </organizer>
                  </entryRelationship>
                </observation>
              </component>
            </organizer>
          </entry>
        </section>