{% macro render_immunization_activity(immunization_activity) %}
<entry>
  <substanceAdministration classCode="SBADM" moodCode="EVN"
    negationInd="false">
    <!-- [C-CDA 2.1] Immunization Activity (V3) -->
    <templateId root="2.16.840.1.113883.10.20.22.4.52"
      extension="2015-08-01" />
    <id root="{{ uuid() }}" />
    <statusCode code="completed" />
    <effectiveTime value="20201107" />
    {% if immunization_activity.route -%}
    <routeCode code="{{ immunization_activity.route.code }}" codeSystem="{{ codeSystems[immunization_activity.route.codeSystemName|trim] }}"
        codeSystemName="{{ immunization_activity.route.codeSystemName }}" displayName="{{ immunization_activity.route.displayName }}" />
    {% else -%}
    <routeCode nullFlavor="NI" />
    {% endif -%}
    {% if immunization_activity.doseQuantity -%}
    <doseQuantity value="{{ immunization_activity.doseQuantity.value }}" unit="{{ immunization_activity.doseQuantity.unit }}" />
    {% else -%}
    <doseQuantity nullFlavor="NI" />
    {% endif -%}
    <consumable>
      <manufacturedProduct classCode="MANU">
        <!-- [C-CDA R2.1] Immunization Medication Information (V3) -->
        <templateId root="2.16.840.1.113883.10.20.22.4.54"
          extension="2014-06-09" />
        {#- (TODO: is his needed?) <!-- [eICR R2 STU2] Initial Case Report Trigger Code Problem Observation (V2) --> -#}
        {#- <templateId root="2.16.840.1.113883.10.20.15.2.3.38" extension="2019-04-01" /> #}
        <manufacturedMaterial>
          <code code="{{ immunization_activity.manufacturedMaterial.code }}"
              {% if immunization_activity.manufacturedMaterial.codeSystemName -%}
              codeSystem="{{ codeSystems[immunization_activity.manufacturedMaterial.codeSystemName|trim] }}"
              codeSystemName="{{ immunization_activity.manufacturedMaterial.codeSystemName }}"
              {%- else -%}
              codeSystem="2.16.840.1.113883.12.292"
              {%- endif %}
              displayName="{{ immunization_activity.manufacturedMaterial.displayName }}"
              {% if immunization_activity.sdtc -%}
              sdtc:valueSet="{{ immunization_activity.sdtc.valueSet }}" sdtc:valueSetVersion="{{ immunization_activity.sdtc.valueSetVersion }}"
              {% endif -%}
          />
          <lotNumberText nullFlavor="NI" />
        </manufacturedMaterial>
      </manufacturedProduct>
    </consumable>
  </substanceAdministration>
</entry>
{%- endmacro %}